{% load static %}

<div class="sidebar">

    <div class="logo">
        <h3>WEBCODEFT</h3>
        <small>Technologies pvt. ltd.</small>
    </div>

    <ul class="menu">

        <li class="active">
            <a href="#">
                <i class="bi bi-grid-fill"></i>
                Dashboard
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-people-fill"></i>
                Employees
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-calendar-check-fill"></i>
                Attendance
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-kanban-fill"></i>
                Projects
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-briefcase-fill"></i>
                CRM
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-cash-stack"></i>
                Finance
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-bar-chart-fill"></i>
                Reports
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-book-fill"></i>
                Training
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-cpu-fill"></i>
                AI Assistant
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-gear-fill"></i>
                Settings
            </a>
        </li>

    </ul>

</div>