@media(max-width:991px){

.hero{

padding-top:120px;

text-align:center;

}

.hero-title{

font-size:48px;

}

.hero-buttons{

justify-content:center;

}

.hero-image{

margin-top:50px;

}

}

@media(max-width:576px){

.hero-title{

font-size:36px;

}

.hero-text{

font-size:16px;

}

.btn-primary-custom,
.btn-outline-custom{

width:100%;

text-align:center;

}

}